<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.eqianyuan.dao.ICountyDao">
    <resultMap id="BaseResultMap" type="cn.eqianyuan.bean.po.CountyPO">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="city_id" property="cityId" jdbcType="VARCHAR"/>
        <result column="county_id" property="countyId" jdbcType="VARCHAR"/>
        <result column="county_name" property="countyName" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, city_id, county_id, county_name
  </sql>
    <select id="selectByList" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from county
        where city_id = #{city_id}
    </select>
    <select id="selectById" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from county
        where city_id = ${city_id}
        and county_id = ${county_id}
    </select>
</mapper>