<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.eqianyuan.dao.IDataDictionaryDao">
    <resultMap id="BaseResultMap" type="cn.eqianyuan.bean.po.DataDictionaryPO">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="group_key" property="groupKey" jdbcType="VARCHAR"/>
        <result column="group_val_key" property="groupValKey" jdbcType="VARCHAR"/>
        <result column="group_val_val" property="groupValVal" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, group_key, group_val_key, group_val_val
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from data_dictionary
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from data_dictionary
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="cn.eqianyuan.bean.po.DataDictionaryPO">
    insert into data_dictionary (id, group_key, group_val_key, 
      group_val_val)
    values (#{id,jdbcType=INTEGER}, #{groupKey,jdbcType=VARCHAR}, #{groupValKey,jdbcType=VARCHAR}, 
      #{groupValVal,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="cn.eqianyuan.bean.po.DataDictionaryPO">
        insert into data_dictionary
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="groupKey != null">
                group_key,
            </if>
            <if test="groupValKey != null">
                group_val_key,
            </if>
            <if test="groupValVal != null">
                group_val_val,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="groupKey != null">
                #{groupKey,jdbcType=VARCHAR},
            </if>
            <if test="groupValKey != null">
                #{groupValKey,jdbcType=VARCHAR},
            </if>
            <if test="groupValVal != null">
                #{groupValVal,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.eqianyuan.bean.po.DataDictionaryPO">
        update data_dictionary
        <set>
            <if test="groupKey != null">
                group_key = #{groupKey,jdbcType=VARCHAR},
            </if>
            <if test="groupValKey != null">
                group_val_key = #{groupValKey,jdbcType=VARCHAR},
            </if>
            <if test="groupValVal != null">
                group_val_val = #{groupValVal,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.eqianyuan.bean.po.DataDictionaryPO">
    update data_dictionary
    set group_key = #{groupKey,jdbcType=VARCHAR},
      group_val_key = #{groupValKey,jdbcType=VARCHAR},
      group_val_val = #{groupValVal,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectByList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from data_dictionary
    </select>
</mapper>