<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.eqianyuan.dao.IHireHistoryDao" >
  <resultMap id="BaseResultMap" type="cn.eqianyuan.bean.po.HireHistoryPO" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="supplier_side_id" property="supplierSideId" jdbcType="VARCHAR" />
    <result column="demand_id" property="demandId" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="remuneration" property="remuneration" jdbcType="INTEGER" />
    <result column="work" property="work" jdbcType="VARCHAR" />
    <result column="contract_comes_into_effect_time" property="contractComesIntoEffectTime" jdbcType="INTEGER" />
    <result column="contract_expires_time" property="contractExpiresTime" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, supplier_side_id, demand_id, status, remuneration, work, contract_comes_into_effect_time, 
    contract_expires_time, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from hire_history
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from hire_history
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.eqianyuan.bean.po.HireHistoryPO" >
    insert into hire_history (id, supplier_side_id, demand_id, 
      status, remuneration, work, 
      contract_comes_into_effect_time, contract_expires_time, 
      create_time)
    values (#{id,jdbcType=VARCHAR}, #{supplierSideId,jdbcType=VARCHAR}, #{demandId,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{remuneration,jdbcType=INTEGER}, #{work,jdbcType=VARCHAR}, 
      #{contractComesIntoEffectTime,jdbcType=INTEGER}, #{contractExpiresTime,jdbcType=INTEGER}, 
      #{createTime,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.eqianyuan.bean.po.HireHistoryPO" >
    insert into hire_history
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="supplierSideId != null" >
        supplier_side_id,
      </if>
      <if test="demandId != null" >
        demand_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="remuneration != null" >
        remuneration,
      </if>
      <if test="work != null" >
        work,
      </if>
      <if test="contractComesIntoEffectTime != null" >
        contract_comes_into_effect_time,
      </if>
      <if test="contractExpiresTime != null" >
        contract_expires_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="supplierSideId != null" >
        #{supplierSideId,jdbcType=VARCHAR},
      </if>
      <if test="demandId != null" >
        #{demandId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remuneration != null" >
        #{remuneration,jdbcType=INTEGER},
      </if>
      <if test="work != null" >
        #{work,jdbcType=VARCHAR},
      </if>
      <if test="contractComesIntoEffectTime != null" >
        #{contractComesIntoEffectTime,jdbcType=INTEGER},
      </if>
      <if test="contractExpiresTime != null" >
        #{contractExpiresTime,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.eqianyuan.bean.po.HireHistoryPO" >
    update hire_history
    <set >
      <if test="supplierSideId != null" >
        supplier_side_id = #{supplierSideId,jdbcType=VARCHAR},
      </if>
      <if test="demandId != null" >
        demand_id = #{demandId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remuneration != null" >
        remuneration = #{remuneration,jdbcType=INTEGER},
      </if>
      <if test="work != null" >
        work = #{work,jdbcType=VARCHAR},
      </if>
      <if test="contractComesIntoEffectTime != null" >
        contract_comes_into_effect_time = #{contractComesIntoEffectTime,jdbcType=INTEGER},
      </if>
      <if test="contractExpiresTime != null" >
        contract_expires_time = #{contractExpiresTime,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.eqianyuan.bean.po.HireHistoryPO" >
    update hire_history
    set supplier_side_id = #{supplierSideId,jdbcType=VARCHAR},
      demand_id = #{demandId,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      remuneration = #{remuneration,jdbcType=INTEGER},
      work = #{work,jdbcType=VARCHAR},
      contract_comes_into_effect_time = #{contractComesIntoEffectTime,jdbcType=INTEGER},
      contract_expires_time = #{contractExpiresTime,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <insert id="copyInsertHistory" parameterType="cn.eqianyuan.bean.po.HirePO">
    insert into hire_history (id, supplier_side_id, demand_id, remuneration, work, contract_comes_into_effect_time,
    contract_expires_time, create_time)
    (
    select id, supplier_side_id, demand_id, remuneration, work, contract_comes_into_effect_time,
    contract_expires_time, create_time from hire where id = #{id})
  </insert>
</mapper>