<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.eqianyuan.dao.ISupplierSideDao" >
    <resultMap id="BaseResultMap" type="cn.eqianyuan.bean.po.SupplierSidePO" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="head_portrait" property="headPortrait" jdbcType="VARCHAR" />
        <result column="real_name" property="realName" jdbcType="VARCHAR" />
        <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
        <result column="mobile_number" property="mobileNumber" jdbcType="BIGINT" />
        <result column="sex" property="sex" jdbcType="INTEGER" />
        <result column="birthday_year" property="birthdayYear" jdbcType="INTEGER" />
        <result column="birthday_month" property="birthdayMonth" jdbcType="INTEGER" />
        <result column="birthday_day" property="birthdayDay" jdbcType="INTEGER" />
        <result column="live_address_province_id" property="liveAddressProvinceId" jdbcType="VARCHAR" />
        <result column="live_address_city_id" property="liveAddressCityId" jdbcType="VARCHAR" />
        <result column="live_address_county_id" property="liveAddressCountyId" jdbcType="VARCHAR" />
        <result column="native_place_province_id" property="nativePlaceProvinceId" jdbcType="VARCHAR" />
        <result column="native_place_city_id" property="nativePlaceCityId" jdbcType="VARCHAR" />
        <result column="native_place_county_id" property="nativePlaceCountyId" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="login_password" property="loginPassword" jdbcType="VARCHAR" />
        <result column="highest_schooling" property="highestSchooling" jdbcType="INTEGER" />
        <result column="school_name" property="schoolName" jdbcType="VARCHAR" />
        <result column="professional_name" property="professionalName" jdbcType="VARCHAR" />
        <result column="working_years" property="workingYears" jdbcType="INTEGER" />
        <result column="integral" property="integral" jdbcType="BIGINT" />
        <result column="balance" property="balance" jdbcType="DOUBLE" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, head_portrait, real_name, nick_name, mobile_number, sex, birthday_year, birthday_month,
        birthday_day, live_address_province_id, live_address_city_id, live_address_county_id,
        native_place_province_id, native_place_city_id, native_place_county_id, email, login_password,
        highest_schooling, school_name, professional_name, working_years, integral, balance,
        status, create_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from supplier_side
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from supplier_side
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="cn.eqianyuan.bean.po.SupplierSidePO" >
        insert into supplier_side (id, head_portrait, real_name,
        nick_name, mobile_number, sex,
        birthday_year, birthday_month, birthday_day,
        live_address_province_id, live_address_city_id,
        live_address_county_id, native_place_province_id,
        native_place_city_id, native_place_county_id,
        email, login_password, highest_schooling,
        school_name, professional_name, working_years,
        integral, balance, status,
        create_time)
        values (#{id,jdbcType=VARCHAR}, #{headPortrait,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR},
        #{nickName,jdbcType=VARCHAR}, #{mobileNumber,jdbcType=BIGINT}, #{sex,jdbcType=INTEGER},
        #{birthdayYear,jdbcType=INTEGER}, #{birthdayMonth,jdbcType=INTEGER}, #{birthdayDay,jdbcType=INTEGER},
        #{liveAddressProvinceId,jdbcType=VARCHAR}, #{liveAddressCityId,jdbcType=VARCHAR},
        #{liveAddressCountyId,jdbcType=VARCHAR}, #{nativePlaceProvinceId,jdbcType=VARCHAR},
        #{nativePlaceCityId,jdbcType=VARCHAR}, #{nativePlaceCountyId,jdbcType=VARCHAR},
        #{email,jdbcType=VARCHAR}, #{loginPassword,jdbcType=VARCHAR}, #{highestSchooling,jdbcType=INTEGER},
        #{schoolName,jdbcType=VARCHAR}, #{professionalName,jdbcType=VARCHAR}, #{workingYears,jdbcType=INTEGER},
        #{integral,jdbcType=BIGINT}, #{balance,jdbcType=DOUBLE}, #{status,jdbcType=INTEGER},
        #{createTime,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="cn.eqianyuan.bean.po.SupplierSidePO" >
        insert into supplier_side
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="headPortrait != null" >
                head_portrait,
            </if>
            <if test="realName != null" >
                real_name,
            </if>
            <if test="nickName != null" >
                nick_name,
            </if>
            <if test="mobileNumber != null" >
                mobile_number,
            </if>
            <if test="sex != null" >
                sex,
            </if>
            <if test="birthdayYear != null" >
                birthday_year,
            </if>
            <if test="birthdayMonth != null" >
                birthday_month,
            </if>
            <if test="birthdayDay != null" >
                birthday_day,
            </if>
            <if test="liveAddressProvinceId != null" >
                live_address_province_id,
            </if>
            <if test="liveAddressCityId != null" >
                live_address_city_id,
            </if>
            <if test="liveAddressCountyId != null" >
                live_address_county_id,
            </if>
            <if test="nativePlaceProvinceId != null" >
                native_place_province_id,
            </if>
            <if test="nativePlaceCityId != null" >
                native_place_city_id,
            </if>
            <if test="nativePlaceCountyId != null" >
                native_place_county_id,
            </if>
            <if test="email != null" >
                email,
            </if>
            <if test="loginPassword != null" >
                login_password,
            </if>
            <if test="highestSchooling != null" >
                highest_schooling,
            </if>
            <if test="schoolName != null" >
                school_name,
            </if>
            <if test="professionalName != null" >
                professional_name,
            </if>
            <if test="workingYears != null" >
                working_years,
            </if>
            <if test="integral != null" >
                integral,
            </if>
            <if test="balance != null" >
                balance,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="headPortrait != null" >
                #{headPortrait,jdbcType=VARCHAR},
            </if>
            <if test="realName != null" >
                #{realName,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null" >
                #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="mobileNumber != null" >
                #{mobileNumber,jdbcType=BIGINT},
            </if>
            <if test="sex != null" >
                #{sex,jdbcType=INTEGER},
            </if>
            <if test="birthdayYear != null" >
                #{birthdayYear,jdbcType=INTEGER},
            </if>
            <if test="birthdayMonth != null" >
                #{birthdayMonth,jdbcType=INTEGER},
            </if>
            <if test="birthdayDay != null" >
                #{birthdayDay,jdbcType=INTEGER},
            </if>
            <if test="liveAddressProvinceId != null" >
                #{liveAddressProvinceId,jdbcType=VARCHAR},
            </if>
            <if test="liveAddressCityId != null" >
                #{liveAddressCityId,jdbcType=VARCHAR},
            </if>
            <if test="liveAddressCountyId != null" >
                #{liveAddressCountyId,jdbcType=VARCHAR},
            </if>
            <if test="nativePlaceProvinceId != null" >
                #{nativePlaceProvinceId,jdbcType=VARCHAR},
            </if>
            <if test="nativePlaceCityId != null" >
                #{nativePlaceCityId,jdbcType=VARCHAR},
            </if>
            <if test="nativePlaceCountyId != null" >
                #{nativePlaceCountyId,jdbcType=VARCHAR},
            </if>
            <if test="email != null" >
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="loginPassword != null" >
                #{loginPassword,jdbcType=VARCHAR},
            </if>
            <if test="highestSchooling != null" >
                #{highestSchooling,jdbcType=INTEGER},
            </if>
            <if test="schoolName != null" >
                #{schoolName,jdbcType=VARCHAR},
            </if>
            <if test="professionalName != null" >
                #{professionalName,jdbcType=VARCHAR},
            </if>
            <if test="workingYears != null" >
                #{workingYears,jdbcType=INTEGER},
            </if>
            <if test="integral != null" >
                #{integral,jdbcType=BIGINT},
            </if>
            <if test="balance != null" >
                #{balance,jdbcType=DOUBLE},
            </if>
            <if test="status != null" >
                #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.eqianyuan.bean.po.SupplierSidePO" >
        update supplier_side
        <set >
            <if test="headPortrait != null" >
                head_portrait = #{headPortrait,jdbcType=VARCHAR},
            </if>
            <if test="realName != null" >
                real_name = #{realName,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null" >
                nick_name = #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="mobileNumber != null" >
                mobile_number = #{mobileNumber,jdbcType=BIGINT},
            </if>
            <if test="sex != null" >
                sex = #{sex,jdbcType=INTEGER},
            </if>
            <if test="birthdayYear != null" >
                birthday_year = #{birthdayYear,jdbcType=INTEGER},
            </if>
            <if test="birthdayMonth != null" >
                birthday_month = #{birthdayMonth,jdbcType=INTEGER},
            </if>
            <if test="birthdayDay != null" >
                birthday_day = #{birthdayDay,jdbcType=INTEGER},
            </if>
            <if test="liveAddressProvinceId != null" >
                live_address_province_id = #{liveAddressProvinceId,jdbcType=VARCHAR},
            </if>
            <if test="liveAddressCityId != null" >
                live_address_city_id = #{liveAddressCityId,jdbcType=VARCHAR},
            </if>
            <if test="liveAddressCountyId != null" >
                live_address_county_id = #{liveAddressCountyId,jdbcType=VARCHAR},
            </if>
            <if test="nativePlaceProvinceId != null" >
                native_place_province_id = #{nativePlaceProvinceId,jdbcType=VARCHAR},
            </if>
            <if test="nativePlaceCityId != null" >
                native_place_city_id = #{nativePlaceCityId,jdbcType=VARCHAR},
            </if>
            <if test="nativePlaceCountyId != null" >
                native_place_county_id = #{nativePlaceCountyId,jdbcType=VARCHAR},
            </if>
            <if test="email != null" >
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="loginPassword != null" >
                login_password = #{loginPassword,jdbcType=VARCHAR},
            </if>
            <if test="highestSchooling != null" >
                highest_schooling = #{highestSchooling,jdbcType=INTEGER},
            </if>
            <if test="schoolName != null" >
                school_name = #{schoolName,jdbcType=VARCHAR},
            </if>
            <if test="professionalName != null" >
                professional_name = #{professionalName,jdbcType=VARCHAR},
            </if>
            <if test="workingYears != null" >
                working_years = #{workingYears,jdbcType=INTEGER},
            </if>
            <if test="integral != null" >
                integral = #{integral,jdbcType=BIGINT},
            </if>
            <if test="balance != null" >
                balance = #{balance,jdbcType=DOUBLE},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.eqianyuan.bean.po.SupplierSidePO" >
        update supplier_side
        set head_portrait = #{headPortrait,jdbcType=VARCHAR},
        real_name = #{realName,jdbcType=VARCHAR},
        nick_name = #{nickName,jdbcType=VARCHAR},
        mobile_number = #{mobileNumber,jdbcType=BIGINT},
        sex = #{sex,jdbcType=INTEGER},
        birthday_year = #{birthdayYear,jdbcType=INTEGER},
        birthday_month = #{birthdayMonth,jdbcType=INTEGER},
        birthday_day = #{birthdayDay,jdbcType=INTEGER},
        live_address_province_id = #{liveAddressProvinceId,jdbcType=VARCHAR},
        live_address_city_id = #{liveAddressCityId,jdbcType=VARCHAR},
        live_address_county_id = #{liveAddressCountyId,jdbcType=VARCHAR},
        native_place_province_id = #{nativePlaceProvinceId,jdbcType=VARCHAR},
        native_place_city_id = #{nativePlaceCityId,jdbcType=VARCHAR},
        native_place_county_id = #{nativePlaceCountyId,jdbcType=VARCHAR},
        email = #{email,jdbcType=VARCHAR},
        login_password = #{loginPassword,jdbcType=VARCHAR},
        highest_schooling = #{highestSchooling,jdbcType=INTEGER},
        school_name = #{schoolName,jdbcType=VARCHAR},
        professional_name = #{professionalName,jdbcType=VARCHAR},
        working_years = #{workingYears,jdbcType=INTEGER},
        integral = #{integral,jdbcType=BIGINT},
        balance = #{balance,jdbcType=DOUBLE},
        status = #{status,jdbcType=INTEGER},
        create_time = #{createTime,jdbcType=INTEGER}
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <select id="selectCountByMobile" resultType="java.lang.Integer" parameterType="java.lang.Long">
        select
        count(1)
        from supplier_side
        where mobile_number = #{mobile_number}
    </select>
    <select id="selectByLogin" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from supplier_side
        where mobile_number = #{mobile_number}
        and
        login_password = #{login_password}
    </select>
    <select id="selectByMobile" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from supplier_side
        where mobile_number = #{mobile_number}
    </select>
</mapper>